NEXT_PUBLIC_SUPABASE_URL=https://qxyoiparewdsjpnscwgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4eW9pcGFyZXdkc2pwbnNjd2dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2OTcyMzcsImV4cCI6MjA4NTI3MzIzN30.7i4dh0rYdQUJHUU_YIB1asr7UpCLtgSF8XrZWzNW1vY
